<?xml  version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.shefra.prayertimes" android:versionCode="3"
	android:versionName="1.0.2 Beta">
	<uses-sdk android:minSdkVersion="7" />

	<application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false">
		<activity android:name=".MainActivity" android:label="@string/app_name" android:screenOrientation="nosensor">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".settings.SettingsActivity"></activity>
		<activity android:name=".settings.TestActivity">
			<intent-filter>
				<action android:name="android.intent.action.Test" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		
		</activity>
		<activity android:name=".settings.AlertActivity" android:screenOrientation="nosensor">
		<intent-filter>
				<action android:name="android.intent.action.Alert" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		
		</activity>
				<activity android:name=".settings.About" android:screenOrientation="nosensor">
		<intent-filter>
				<action android:name="android.intent.action.About" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		
		</activity>
		<service android:name=".services.ServiceNot"></service>
		<service android:name=".services.ServiceSetAlarm"></service>
		<receiver android:name=".services.OnBootService" android:enabled="true" android:exported="false" android:label="OnBootService">
	    	<intent-filter>
	        	<action android:name="android.intent.action.BOOT_COMPLETED" />
	    	</intent-filter>
		</receiver>
		<activity android:name=".settings.CityFinder"></activity>
	</application>
		<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
		<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
		
</manifest>